<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'amadon_app/css/style.css' %}">
    </head>
    <div class="item">
    <body>
    <h1>Thank you for your business!</h1>
    <p>We charge your credit card for ${{request.session.itemcost}}</p>
    <p>You have ordered {{request.session.totalitems}} items so far and spent ${{request.session.totalamount}} with Amadon.com! </p>
    </body>
    <a href="/Amadon">Go Back</a>
    <a href="/Amadon/clear">Clear</a>
    </div>
</html>